@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 1.7;
}

.header {
    height: 95vh;
    background-image:linear-gradient(to bottom right,#d69754a6,#81371a8a)
    , url('../image/pexels-lina-kivaka-1585893.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position: relative;
}


.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-box h1 {
    text-transform: uppercase;
}

.heading-main {
    display: block;
    font-size: 5rem;
    animation-name: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes moveInleft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    80% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-sub {
    display: block;
    font-size: 2rem;
    animation-name: moveInright;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes moveInright {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    80% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn-container {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn {
    display: block;
    color: honeydew;
    font-size: 2rem;
    text-decoration: none;
    padding: 1px 4px;
    border-radius: 10%;
    background-color: #e47e0a;
    animation-name: btn;
    animation-duration: 4s;
}

@keyframes btn {
    0% {
        font-size: 0rem;
        opacity: 0;
        transform: translateY(500px);
    }
    100% {
        font-size: 2rem;
        opacity: 1;
        transform: translateY(0px);
    }
}


.row {
    margin: 10rem auto;
    width: 85%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-of-2 {
    float: left;
    width: 50%;
    padding: 1rem;
}

main h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

main p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-text {
    font-size: 2rem;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.2rem solid #777;
    margin-top: 5rem;
    padding: 1rem;
    transition: all 0.3s;

}

.btn-text:hover {
    background-color: #ad4906;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    transform: translateY(-5px);
}

.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transform: translateY(5px);
}

.gallery {
    position: relative;

}

.gallery_photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    position: absolute;
    outline-offset: 1.5rem;
    transition: all 0.3s;
    z-index: 10;
}

.gallery_photo-1 {
    left: 1rem;
    top: 2rem;
}
.gallery_photo-2 {
    right: 0;
    top: 10rem;
}
.gallery_photo-3 {
    left: 10rem;
    top: 7rem;
}

.gallery_photo:hover {
    outline: 1.8rem solid #901313;
    transform: scale(1.10);
    z-index: 20;
}

.gallery_photo:hover .gallery_photo:not(:hover) {
    transform: scale(0.95);
}

.bottom-container {
    text-align: center;
}

.bottom-link {
    display: inline-block;
    margin: 1rem;
}
.li-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-wrapper i, a {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text);
}

footer {
    text-align: center;
}